﻿@{ 
  ViewData["Title"] = "Committee Dashboard"; 
  ViewData["roleName"] = ViewData["role"];
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
  <!-- Vehicle Card -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <a href="/vehicledata">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 mb-0 font-weight-bold text-uppercase text-primary">
                Vehicle
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-bus fa-2x text-gray-300"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Schedule Card -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <a href="/schedule">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 mb-0 font-weight-bold text-uppercase text-success">
                Schedule
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-hourglass-end fa-2x text-gray-300"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

<!-- Customer Details Card -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <a href="/client/viewclientlist">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 mb-0 font-weight-bold text-uppercase text-warning">
                Customer Details
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-users fa-2x text-gray-300"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Counter Details Card -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <a href="/counter/viewcounterlist">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 mb-0 font-weight-bold text-uppercase text-primary">
                Counter Details
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-building fa-2x text-gray-300"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <a href="/vehiclecustomer">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 mb-0 font-weight-bold text-uppercase text-primary">
                Print Customer List
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-user-tie fa-2x text-gray-300"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>