<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/loggedin">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
    </a>
</li>

<!-- Nav Item - Destination -->
<li class="nav-item">
    <a class="nav-link" href="/destination">
        <i class="fas fa-fw fa-map-marker-alt"></i>
        <span>Destination</span>
    </a>
</li>

<!-- Nav Item - RouteAndFare -->
<li class="nav-item">
    <a class="nav-link" href="/routeandfare">
        <i class="fas fa-fw fa-map-marked-alt"></i>
        <span>Route And Fare</span>
    </a>
</li>

<!-- Nav Item - Schedule -->
<li class="nav-item">
    <a class="nav-link" href="/schedule">
        <i class="fas fa-fw fa-hourglass-end"></i>
        <span>Schedule</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/client/viewclientlist">
        <i class="fas fa-fw fa-users"></i>
        <span>Customer Details</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/admin/viewcommitteelist">
        <i class="fas fa-fw fa-layer-group"></i>
        <span>Committee List</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/counter/viewcounterlist">
        <i class="fas fa-fw fa-store"></i>
        <span>Counter List</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/committeedue">
        <i class="fas fa-fw fa-money-bill-wave"></i>
        <span>Committee Due</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/customerdue">
        <i class="fas fa-fw fa-shopping-basket"></i>
        <span>Customer Due</span>
    </a>
</li>