<!-- Nav Item - Dashboard -->
<li class="nav-item">
  <a class="nav-link" href="/committeeloggedin">
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Dashboard</span></a
  >
</li>

<!-- Nav Item - Destination -->
<li class="nav-item">
  <a class="nav-link" href="/vehicledata">
    <i class="fas fa-fw fa-bus"></i>
    <span>Vehicle</span></a
  >
</li>

<!-- Nav Item - Schedule -->
<li class="nav-item">
  <a class="nav-link" href="/schedule">
    <i class="fas fa-fw fa-hourglass-end"></i>
    <span>Schedule</span></a
  >
</li>

<!-- Nav Item - View Client List -->
<li class="nav-item">
  <a class="nav-link" href="/client/viewclientlist">
    <i class="fas fa-fw fa-users"></i>
    <span>Customer Details</span></a
  >
</li>

<li class="nav-item">
  <a class="nav-link" href="/counter/viewcounterlist">
    <i class="fas fa-fw fa-building"></i>
    <span>Counter Details</span></a
  >
</li>

<li class="nav-item">
  <a class="nav-link" href="/vehiclecustomer">
    <i class="fas fa-fw fa-user-tie"></i>
    <span>Print customer List</span></a
  >
</li>