﻿@using Microsoft.AspNetCore.Identity 
@inject UserManager<ApplicationUser> UserManager 
@inject SignInManager<ApplicationUser> SignInManager 
	@if (SignInManager.IsSignedIn(User)) {

    <li class="nav-item">
      <a
        class="nav-link"
        href="#logoutModal"
        id="userDropdown"
        role="button"
        data-toggle="modal"
        aria-haspopup="true"
        aria-expanded="false"
	  >
	  @{
		var user = await UserManager.FindByNameAsync(UserManager.GetUserName(User));
		ICollection<string> roleNames = await UserManager.GetRolesAsync(user);

	}
        <span class="mr-2 d-lg-inline text-gray-700">
				@user.UserName
		</span>
      </a>
    </li>

    }
  </ApplicationUser></ApplicationUser
>
