﻿<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>@ViewData["Title"] - Book Tickets Online</title>

    <!-- Custom fonts for this template-->
    <link
      href="~/sb-admin/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="~/sb-admin/css/sb-admin-2.min.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="/committeeloggedin"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-bus"></i>
          </div>
          @if (ViewData["roleName"] == "Committee")
          {
            <div class="sidebar-brand-text mx-3">OTBS<sup>Committee</sup></div>
          }
          else
          {
            <div class="sidebar-brand-text mx-3">OTBS<sup>Admin</sup></div>
          }
          
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" href="/committeeloggedin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a
          >
        </li>

        <!-- Nav Item - Destination -->
        <li class="nav-item">
          <a class="nav-link" href="/vehicledata">
            <i class="fas fa-fw fa-bus"></i>
            <span>Vehicle</span></a
          >
        </li>

        <!-- Nav Item - Schedule -->
        <li class="nav-item">
          <a class="nav-link" href="/schedule">
            <i class="fas fa-fw fa-hourglass-end"></i>
            <span>Schedule</span></a
          >
        </li>

        <!-- Nav Item - View Client List -->
        <li class="nav-item">
          <a class="nav-link" href="/client/viewclientlist">
            <i class="fas fa-fw fa-users"></i>
            <span>Customer Details</span></a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/counter/viewcounterlist">
            <i class="fas fa-fw fa-building"></i>
            <span>Counter Details</span></a
          >
        </li>



        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - User Information -->
              @await Html.PartialAsync("_CommonLoginLayout")
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- <partial name="_CookieConsentPartial" /> -->
            <main role="main" class="pb-3">
              @RenderBody()
            </main>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Online Ticket Booking</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <form asp-action="Index" asp-controller="LogOut">
              <input type="submit" value="Logout" class="btn btn-primary" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script
      src="~/sb-admin/vendor/jquery/jquery.min.js"
      asp-append-version="true"
    ></script>
    <script
      src="~/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"
      asp-append-version="true"
    ></script>

    <!-- Core plugin JavaScript-->
    <script
      src="~/sb-admin/vendor/jquery-easing/jquery.easing.min.js"
      asp-append-version="true"
    ></script>

    <!-- Custom scripts for all pages-->
    <script src="~/sb-admin/js/sb-admin-2.min.js"></script>

    @RenderSection("Scripts", required: false)
  </body>
</html>
