<!-- Nav Item - Dashboard -->
<li class="nav-item">
  <a class="nav-link" href="/counterloggedin">
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Dashboard</span></a
  >
</li>

<li class="nav-item">
  <a class="nav-link" href="/counter/bookticket">
    <i class="fas fa-fw fa-ticket-alt"></i>
    <span>Book Ticket</span></a
  >
</li>

<li class="nav-item">
          <a class="nav-link" href="/client/viewclientlist">
            <i class="fas fa-fw fa-users"></i>
            <span>Customer Details</span></a
          >
        </li>