<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>@ViewData["Title"] - Book Tickets Online</title>

    <link
      href="~/sb-admin/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="~/sb-admin/css/sb-admin-2.min.css" rel="stylesheet" />
  </head>

  <body class="bg-gradient-primary">
    @RenderBody()

    <!-- Bootstrap core JavaScript-->
    <script
      src="~/sb-admin/vendor/jquery/jquery.min.js"
      asp-append-version="true"
    ></script>
    <script
      src="~/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"
      asp-append-version="true"
    ></script>

    <!-- Core plugin JavaScript-->
    <script
      src="~/sb-admin/vendor/jquery-easing/jquery.easing.min.js"
      asp-append-version="true"
    ></script>

    <!-- Custom scripts for all pages-->
    <script src="~/sb-admin/js/sb-admin-2.min.js"></script>

    @RenderSection("Scripts", required: false)
  </body>
</html>
