﻿@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager



@if (SignInManager.IsSignedIn(User))
{

	<div class="border-right">
		<form asp-action="Index" asp-controller="LogOut">
			<text>hello </text>
			@{
				var user = await UserManager.FindByNameAsync(UserManager.GetUserName(User));
				ICollection<string> roleNames = await UserManager.GetRolesAsync(user);

			}
			<text>@roleNames.FirstOrDefault()</text>



			<text>@user.UserName</text>
			<input type="submit" value="Logout" class="btn btn-primary" />
		</form>

	</div>
	
	
}
