﻿
@{
    ViewData["Title"] = "Book Ticket";
    ViewData["roleName"] = ViewData["role"];
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">

  <!-- Book ticket Card -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <a href="/counter/bookticket">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 mb-0 font-weight-bold text-uppercase text-primary">
                Book Ticket
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-ticket-alt fa-2x text-gray-300"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <a href="/client/viewclientlist">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 mb-0 font-weight-bold text-uppercase text-warning">
                Customer Details
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-users fa-2x text-gray-300"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>

