﻿@{
	ViewData["Title"] = "Counter Details";
	ViewData["roleName"] = "Counter";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
	<h2>
		@ViewData["committeeName"]
	</h2>
	<h5>
		@ViewData["counterLocalAddress"] Branch

	</h5>
</div>
<div>
	<label class="text-danger text-center" id="msg"></label>
</div>
@if (ViewData["checkVerification"] == "1")
{
	<h3>This counter is not verified to book tickets. Contact your committee or Administrator to verify.</h3>
}
else
{
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Book Ticket</h6>
  </div>
  <div class="card-body">
	
		<div class="row">
				@{
					var committeeId = ViewData["committeeId"];
					var counterEmail = ViewData["counterEmail"];
					var counterId = ViewData["counterId"];
				}
				<div class="form-group col-md-6">
					<label>From: </label>
					<select class="form-control" id="destination1" asp-items="ViewBag.destination1" onchange="viewSchedule(@committeeId)">
						<option value="" selected disabled>Choose from destination</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label>To: </label>
					<select class="form-control" id="destination2" asp-items="ViewBag.destination2" onchange="viewSchedule(@committeeId)">
						<option value="" selected disabled>Choose to destination</option>
					</select>
				</div>
			<input type="hidden" id="committeeId" value="@committeeId" />
			<input type="hidden" id="counterEmail" value="@counterEmail" />
			<input type="hidden" id="counterId" value="@counterId" />

			<div class="form-group col-md-6">
				<label>Select date and time </label>
				<select class="form-control" id="dateTime" onchange="getVehicles(@committeeId)" disabled></select>
			</div>
			<div class="form-group col-md-6">
				<label>Vehicle number: </label>
				<select class="form-control" id="selectVehicle" disabled onchange="viewSeatInfo(@committeeId)"></select>
			</div>
			<div id="seatInfo" class="col-md-12">
				<div id="bookedSeatInfo">
				</div>

				<div id="unbookedSeatInfo">
				</div>
			</div>
			<div class="col-md-12">
				<label id="fare" class="text-danger"></label>
			</div>
			<div id="userInfo" class="col-md-12" hidden>
				<form id="ticketForm">
					<hr>
					<div class="form-group">
						<label>Enter your desired seat: </label>
						<input class="form-control" id="userSeat" type="text" required />
						<div class="invalid-feedback" id="userSeatError" hidden>
								
							</div>
					</div>
					<div class="form-group">
						<label>Full Name: </label>
						<input class="form-control" id="userName" type="text" required />
					</div>
					<div class="form-group">
						<label>Mobile Number: </label>
						<input class="form-control" id="phone" type="text" required />
					</div>
					<div>
						<button class="btn btn-primary btn-block" type="submit" id="payment-button">Book with khalti</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
}
@section Scripts{
	<script src="https://khalti.com/static/khalti-checkout.js"></script>
	<script src="~/js/Counter/BookTicket.js" asp-append-version="true"></script>
}
