﻿@model OTBSCore.CounterViewModels.CounterForgotPasswordViewModel
@{
	ViewData["title"] = "Counter-Forgot Password";
	Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml"; 
}

<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-10">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Enter the Email address linked with this account</h1>
                </div>
                <form asp-controller="Counter" asp-action="ForgotPassword">
					<div class="form-group">
						<label asp-for="Username" class="control-label"></label>
						<input asp-for="Username" class="form-control" placeholder="Username" />
						<span asp-validation-for="Username" class="text-danger"></span>
					</div>
					<div class="text-danger">
						@ViewData["notFound"]
					</div>

					<div class="form-group">
						<label asp-for="Email" class="control-label"></label>
						<input asp-for="Email" class="form-control" placeholder="Email" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="text-danger">
						@ViewData["emailError"]
					</div>



					<div class="form-group">
						<input type="submit" class="btn btn-primary btn-block" value="Send and email for confirmation" />
					</div>

				</form>
                <hr>
                  <div class="text-center">
                    <a class="small" href="/counter">Login</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>