﻿@model OTBSCore.CounterViewModels.CounterResetPasswordViewModel
@{
	ViewData["title"] = "Counter-Reset Password";
}
<div class="row">
	<div class="col-md-8">
		<h2>Reset password</h2>
		<form asp-controller="Counter" asp-action="ResetPassword">

			<div class="form-group">
				<label asp-for="Username" class="control-label"></label>
				<input asp-for="Username" class="form-control" placeholder="Username" />
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>
			<div class="text-danger">
				@ViewData["notFound"]
			</div>

			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" placeholder="Email" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="text-danger">
				@ViewData["emailError"]
			</div>

			<div class="form-group">
				<label asp-for="OldPassword" class="control-label"></label>
				<input asp-for="OldPassword" class="form-control" placeholder="Old Password" />
				<span asp-validation-for="OldPassword" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Password" class="control-label"></label>
				<input asp-for="Password" class="form-control" placeholder="New Password" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="ConfirmPassword" class="control-label"></label>
				<input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>



			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Reset" />
			</div>

		</form>
	</div>
</div>
