﻿@using OTBSCore.DataAccess
@inject BookingContext _context

@model IEnumerable<OTBSCore.Models.Counter>

@{
	ViewData["Title"] = "Counter List";
	ViewData["roleName"] = ViewData["role"];
  	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 @if (ViewData["role"].ToString() == "Committee")
{
	<a class="btn btn-primary mb-2" href="/committee/registercounter">Add counter</a>
}


<div class="card shadow mb-4">
  <div class="card-header py-3">
	@if (ViewData["role"].ToString() == "Admin")
	{
		<h6 class="m-0 font-weight-bold text-primary">All Counter Details</h6>
	}
	else if (ViewData["role"].ToString() == "Committee")
	{
		<h6 class="m-0 font-weight-bold text-primary">Counter details of @ViewData["committeeName"]</h6>
	}
  </div>
  <div class="card-body">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				@if (ViewData["role"].ToString() == "Admin")
				{
					<th>
						@Html.DisplayNameFor(model => model.Committee)
					</th>
				}
				<th>
					@Html.DisplayNameFor(model => model.status)
				</th>
				<th>
					Action
				</th>
			</tr>
		</thead>
		<tbody>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						<a asp-action="ViewCounterDetail" asp-route-id="@item.CounterId">@item.Name</a>
					</td>

					@if (ViewData["role"].ToString() == "Admin")
					{
					<td>
						@{ 
							var committeeName = _context.Committees.Where(a => a.CommitteeId == item.CommitteeId).Select(b => b.Name).FirstOrDefault();
						}
						<a asp-action="ViewCommitteeDetail" asp-controller="Admin" asp-route-id="@item.CommitteeId">@committeeName</a>
						
					</td>
							}  
					<td>

						@Html.DisplayFor(modelItem => item.status)
					</td>

					<td>
						@if (item.status == Status.unverified)
						{
							<a asp-action="VerifyCounter" asp-route-id="@item.CounterId">verify</a>
						}
						else if (item.status == Status.verified)
						{
							<a asp-action="SuspendCounter" asp-route-id="@item.CounterId">suspend</a>
						}
						else if (item.status == Status.suspended)
						{
							<a asp-action="VerifyCounter" asp-route-id="@item.CounterId">verify</a>
						}
					</td>

				</tr>
			}

		</tbody>
	</table>
	</div>
  </div>
</div>
</div>
