﻿@model IEnumerable<OTBSCore.Models.CommitteeDue>

@{
	ViewData["Title"] = "Committee Due";
	ViewData["roleName"] = "Admin";
  	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p class="text-danger float-right">@ViewData["clearMsg"]</p>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Committee Due</h6>
  </div>
  <div class="card-body">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.CommitteeId)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.VehicleScheduleId)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PhNumber)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Date)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DueAmount)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Cleared)
				</th>
				

			</tr>
		</thead>
		<tbody>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.CommitteeId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.VehicleScheduleId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PhNumber)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Date)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DueAmount)
					</td>
					<td>
						@if(item.Cleared==true)
						{
							<p>Cleared</p>
						}
						else
						{
							<p>Not Cleared</p>
						}
						
					</td>
					<td>
						@if(item.Cleared==false)
						{
							<a asp-action="clearDue" asp-route-id="@item.SNo">Clear</a>
						}
					</td>
				</tr>
			}

		</tbody>
	</table>
</div>
</div>