﻿@{ 
  ViewData["Title"] = "Admin Dashboard"; 
  ViewData["roleName"] = ViewData["role"];
  Layout = "~/Views/Shared/_AdminLayout.cshtml"; 
}

<link
  href="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.css"
  rel="stylesheet"
/>

<button class="btn btn-primary mb-2" id="addDestinationBtn">
  Add Destination
</button>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Destination Table</h6>
  </div>
  <div class="card-body">
    <table
      id="destinationTable"
      class="display table table-bordered"
      style="width:100%"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>Destination Name</th>
          <th>District Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="destinationTableBody"></tbody>
    </table>
  </div>
</div>

<div
  class="modal fade"
  id="destinationAddModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Destination</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="destinationAddForm">
          <div class="form-group">
            <label class="control-label" for="add-destinationName"
              >Destination Name</label
            >
            <input
              class="form-control"
              id="add-destinationName"
              placeholder="Destination Name"
              type="text"
              required
            />
          </div>
          <div class="form-group">
            <label class="control-label" for="add-districtName"
              >District Name</label
            >
            <input
              class="form-control"
              id="add-districtName"
              placeholder="District Name"
              type="text"
              required
            />
          </div>
          <hr />
          <button
            type="submit"
            class="btn btn-primary float-right"
            id="saveBtn"
          >
            Save changes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="destinationEditModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="destinationEditModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="destinationEditModalLabel">
          Edit Destination
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="destinationEditForm">
          <div class="form-group">
            <label class="control-label" for="edit-destinationName"
              >Destination Name</label
            >
            <input
              class="form-control"
              id="edit-destinationName"
              placeholder="Destination Name"
              type="text"
              required
            />
          </div>
          <div class="form-group">
            <label class="control-label" for="edit-districtName"
              >District Name</label
            >
            <input
              class="form-control"
              id="edit-districtName"
              placeholder="District Name"
              type="text"
              required
            />
          </div>
          <hr />
          <button
            type="submit"
            class="btn btn-primary float-right"
            id="updateBtn"
          >
            Update Changes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

@section Scripts{
<!-- Page level plugins -->
<script src="~/sb-admin/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<script src="~/js/destination/manage.js" asp-append-version="true"></script>
}
