﻿@{ 
  ViewData["Title"] = "Admin Dashboard";
  ViewData["roleName"] = ViewData["role"];
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Route and Fare Table</h6>
  </div>
  <div class="card-body">
    <form>
      <table id="RouteAndFareTable" class="table table-bordered">
        <thead>
          <tr>
            <td>Id</td>
            <td>Destination 1</td>
            <td>Destination 2</td>
            <td>Distance</td>
            <td>Fare Amount</td>
            <td>Actions</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <select
                id="Destination1"
                type="text"
                class="form-control"
                required
              ></select>
            </td>
            <td>
              <select
                id="Destination2"
                type="text"
                class="form-control"
                required
              ></select>
            </td>
            <td>
              <input
                id="Distance"
                type="number"
                class="form-control"
                required
              />
            </td>
            <td>
              <input id="Amount" type="number" class="form-control" required />
            </td>
            <td>
              <input
                type="button"
                id="insert"
                value="Insert"
                class="btn
                  btn-primary"
                onclick="onAddRouteAndFare()"
              />
            </td>
            <td></td>
          </tr>
        </thead>
      </table>
      <br />
      <div id="msg"></div>
    </form>
  </div>
</div>

@section Scripts{
<script src="~/js/routeandfare/manage.js" asp-append-version="true"></script>
}
