body {
  background: url('https://images.unsplash.com/photo-1544620347-c4fd4a3d5957');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#wrapper {
  position: absolute;
  top: 0;
  background: #000;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}

#navbar {
  background-color: #000 !important;
  opacity: 0.6;
}
