﻿@model OTBSCore.Models.CustomerForSchedule

@{
	ViewData["Title"] = "Committee Dashboard";
	ViewData["roleName"] = "Committee";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Print Customer List</h6>
	</div>
	<div class="card-body">
		


			<form asp-action="GetCustomerListForSchedule">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label asp-for="Date" class="control-label">Date</label>
						<input asp-for="Date" class="form-control" />
					</div>
					<div class="form-group col-md-6">
						<label asp-for="Time" class="control-label">Time</label>
						<input asp-for="Time" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<div class="form-group">
						<label asp-for="From" class="control-label">From</label>
						<select asp-for="From" class="form-control" asp-items="ViewBag.DestinationId"></select>
					</div>
					<div class="form-group">
						<label asp-for="To" class="control-label">To</label>
						<select asp-for="To" class="form-control" asp-items="ViewBag.DestinationId"></select>
					</div>
					
					<div class="form-group">
						<input type="submit" value="Get list" class="btn btn-primary" />
					</div>

				</div>
			</form>
			
	</div>

</div>

