﻿
@{
    ViewData["Title"] = "Confirm Account";
}

<h1>ConfirmAccount</h1>
<h2>Thank you for confirming your account. Click <a asp-action="Index" asp-controller="Committee">here</a> to go to the login page.</h2>

