﻿@model OTBSCore.CommitteeViewModels.ForgotResetPasswordViewModel
@{
	ViewData["title"] = "Admin-Reset Forgotten Password";
}
<div class="row">
	<div class="col-md-8">
		<h2>Reset forgotten password</h2>
		<form asp-controller="Committee" asp-action="ForgotResetPassword">

			<div hidden="hidden" class="form-group">
				<input asp-for="Email" type="hidden" class="form-control" value=@ViewData["Email"] />
			</div>

			<div hidden="hidden" class="form-group">
				<input asp-for="Username" type="hidden" class="form-control" value=@ViewData["Username"] />
			</div>
			<div hidden="hidden" class="form-group">
				<input asp-for="Code" type="hidden" class="form-control" value=@ViewData["Code"] />
			</div>

			<div class="form-group">
				<label asp-for="Password" class="control-label"></label>
				<input asp-for="Password" class="form-control" placeholder="New Password" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="ConfirmPassword" class="control-label"></label>
				<input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>



			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Reset" />
			</div>

		</form>
	</div>
</div>
