﻿@model OTBSCore.CommitteeViewModels.CounterRegistrationViewModel
@{
	ViewData["Title"] = "Counter-Register Counter";
	ViewData["roleName"] = ViewData["role"];
  	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Fill the form to add a Counter</h6>
  </div>
  <div class="card-body">
	<form asp-action="RegisterCounter">
		<div class="row">
			<div class="form-group col-md-6">
				<label asp-for="Name" class="control-label">Full Name of the Counter</label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>

			</div>

			<div class="form-group col-md-6">
				<label asp-for="CounterUsername" class="control-label">Username(unique)</label>
				<input asp-for="CounterUsername" class="form-control" />
				<span asp-validation-for="CounterUsername" class="text-danger"></span>

			</div>

			<div class="form-group col-md-6">
				<label asp-for="District" class="control-label"></label>
				<input asp-for="District" class="form-control" />
				<span asp-validation-for="District" class="text-danger"></span>

			</div>

			<div class="form-group col-md-6">
				<label asp-for="Municipality" class="control-label"></label>
				<input asp-for="Municipality" class="form-control" />
				<span asp-validation-for="Municipality" class="text-danger"></span>

			</div>
			<div class="form-group col-md-6">
				<label asp-for="LocalAddress" class="control-label"></label>
				<input asp-for="LocalAddress" class="form-control" />
				<span asp-validation-for="LocalAddress" class="text-danger"></span>

			</div>

			<div class="form-group col-md-6">
				<label asp-for="PhNumber" class="control-label">Contact Number</label>
				<input asp-for="PhNumber" class="form-control" />
				<span asp-validation-for="PhNumber" class="text-danger"></span>
			</div>

			<div class="form-group col-md-6">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<div class="form-group col-md-6">
				<label asp-for="Commission" class="control-label"></label>
				<input asp-for="Commission" class="form-control" />
				<span asp-validation-for="Commission" class="text-danger"></span>
			</div>

			<div class="form-group col-md-6">
				<label asp-for="Password" class="control-label"></label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>

			<div class="form-group col-md-6">
				<label asp-for="ConfirmPassword" class="control-label"></label>
				<input asp-for="ConfirmPassword" class="form-control" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>

			<div class="form-group col-md-6">
				<input type="submit" value="Register Counter" class="btn btn-primary" />
			</div>
			</div>
		</form>
  </div>
</div>


