﻿@model OTBSCore.ModelCollection.CommitteeRegistrationViewModel
@{
    ViewData["Title"] = "Admin-Register Committee";
	Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}

<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-8 col-md-10">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Register Committee</h1>
                </div>
                <form class="user"  asp-action="RegisterCommittee">
                  	<div class="form-group">
						<input asp-for="Name" class="form-control form-control-user" placeholder="Full Name of the Committee" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>

					<div class="form-group">
						<input asp-for="CommitteeUsername" class="form-control form-control-user" placeholder="Username(unique)" />
						<span asp-validation-for="CommitteeUsername" class="text-danger"></span>
					</div>

					<div class="form-group">
						<input asp-for="District" class="form-control form-control-user" placeholder="District" />
						<span asp-validation-for="District" class="text-danger"></span>
					</div>

					<div class="form-group">
						<input asp-for="Municipality" class="form-control form-control-user" placeholder="Municipality" />
						<span asp-validation-for="Municipality" class="text-danger"></span>
					</div>

					<div class="form-group">
						<input asp-for="LocalAddress" class="form-control form-control-user" placeholder="LocalAddress" />
						<span asp-validation-for="LocalAddress" class="text-danger"></span>
					</div>

					<div class="form-group">
						<input asp-for="PhNumber" class="form-control form-control-user" placeholder="Contact Number" />
						<span asp-validation-for="PhNumber" class="text-danger"></span>
					</div>

					<div class="form-group">
						<input asp-for="Email" class="form-control form-control-user" placeholder="Email" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>

					<div class="form-group">
						<input asp-for="Password" class="form-control form-control-user" placeholder="Password" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>

					<div class="form-group">
						<input asp-for="ConfirmPassword" class="form-control form-control-user" placeholder="Confirm Password" />
						<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					</div>

					<div class="form-group">
						<input type="submit" value="Register Committee" class="btn btn-primary btn-user btn-block" />
					</div>
                </form>
				<hr>
				<div class="text-center">
					<a class="small" href="/committee">Already have an account? Login!</a>
				</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

