﻿@{ 
  Layout = "~/Views/Shared/_FrontLayout.cshtml"; 
}

<div class="card shadow mb-4 mt-5">
	<div class="card-body">
		<form>
			<div>
				<label id="cancelMessage" class="text-danger float-right" ></label>
			</div>
			<h3>Cancel Ticket</h3>
			<hr>
			<div class="row">
				<div class="form-group col-md-4">
					<label>Enter ticket code: </label>
					<input class="form-control" id="ticketCode" type="text" placeholder="Enter ticket code" />
				</div>
				<div class="form-group col-md-4">
					<label>Enter phone number</label>
					<input class="form-control" id="phoneNumber" placeholder="Khalti Registered Phone Number" type="text"/>
				</div>
				<div class="form-group col-md-4">
					<label>&nbsp;</label>
					<input class="btn btn-primary btn-block" type="button" value="Cancel Ticket" onclick="cancelTicket()" />
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts{
	<script src="~/js/client/cancel.js" asp-append-version="true"></script>
}
