﻿@model OTBSCore.Models.Customer

@{ 
	ViewData["Title"] = "Customer Details"; 
	ViewData["roleName"] = ViewData["role"];
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>@Html.DisplayFor(model=>model.Name) Details</h1><hr />
<div>
	
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PhNumber)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PhNumber)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TicketCode)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TicketCode)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.VehicleScheduleId)
		</dt>
		<dd class="col-sm-10">
			<a asp-action="GetScheduleDetail" asp-route-id="@Html.DisplayFor(model => model.VehicleScheduleId)">
				@Html.DisplayFor(model => model.VehicleScheduleId)
			</a>
		</dd>
	</dl>
</div>
