﻿@model OTBSCore.Models.Counter

@using OTBSCore.DataAccess

@inject BookingContext _context

@{ 
	ViewData["Title"] = "Customer Details"; 
	ViewData["roleName"] = ViewData["role"];
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Counter @Html.DisplayFor(model => model.CounterId) Details</h1><hr />
<dl class="row">
	<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.Name)
	</dt>
	<dd class="col-sm-10">
		@Html.DisplayFor(model => model.Name)
	</dd>
	<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.PhNumber)
	</dt>
	<dd class="col-sm-10">
		@Html.DisplayFor(model => model.PhNumber)
	</dd>
	<dt class="col-sm-2">
		Committee Name
	</dt>
	<dd class="col-sm-10">
		@_context.Committees.Where(a => a.CommitteeId == Model.CommitteeId).Select(b => b.Name).FirstOrDefault()
	</dd>

	<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.Email)
	</dt>
	<dd class="col-sm-10">
		@Html.DisplayFor(model => model.Email)
	</dd>
	<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.District)
	</dt>
	<dd class="col-sm-10">
		@Html.DisplayFor(model => model.District)
	</dd>
	<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.Municipality)
	</dt>
	<dd class="col-sm-10">
		@Html.DisplayFor(model => model.Municipality)
	</dd>
	<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.LocalAddress)
	</dt>
	<dd class="col-sm-10">
		@Html.DisplayFor(model => model.LocalAddress)
	</dd>
	<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.Commission)
	</dt>
	<dd class="col-sm-10">
		@Html.DisplayFor(model => model.Commission)
	</dd>

</dl>
</div>