﻿@model OTBSCore.Models.VehicleSchedule

@using OTBSCore.DataAccess

@inject BookingContext _context

@{ 
	ViewData["Title"] = "Customer Details"; 
	ViewData["roleName"] = ViewData["role"];
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Schedule @Html.DisplayFor(model => model.VehicleScheduleId) Details</h1><hr />
<div>

	<dl class="row">
		<dt class="col-sm-2">
			Committee Name
		</dt>
		<dd class="col-sm-10">
			@_context.Committees.Where(a => a.CommitteeId == Model.CommitteeId).Select(b => b.Name).FirstOrDefault()
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model=>model.Vehicle.VehicleNumber)
		</dt>
		<dd class="col-sm-10">
			@_context.Vehicles.Where(a=>a.VehicleId==Model.VehicleId).Select(b=>b.VehicleNumber).FirstOrDefault()
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Date)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Date)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Time)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Time)
		</dd>
		<dt class="col-sm-2">
			From
		</dt>
		<dd class="col-sm-10">
			@_context.Destinations.Where(a=>a.DestinationId==Model.StartingPointDestinationId).Select(b=>b.DestinationName).FirstOrDefault()
		</dd>
		<dt class="col-sm-2">
			To
		</dt>
		<dd class="col-sm-10">
			@_context.Destinations.Where(a=>a.DestinationId==Model.EndPointDestinationId).Select(b=>b.DestinationName).FirstOrDefault()
		</dd>

	</dl>
</div>
