﻿

@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<link rel="stylesheet" href="~/css/client.css" />
<div>
    <label class="text-danger" id="msg"></label>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <form autocomplete="off" id="seatInfoForm">
            <div class="row">
                <div class="autocomplete form-group col-md-6">
                    <input id="destination1" type="text" name="destination1" placeholder="Enter location from.." class="form-control" required>
                </div>
                <div class="autocomplete form-group col-md-6">
                    <input id="destination2" type="text" name="destination2" placeholder="Enter location to.." class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                    <label>Choose Date and Time</label>
                    <select id="selectDate" onchange="onDateChange()" class="autocomplete form-control" disabled required>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Choose Committee</label>
                    <select id="selectCommittee" onchange="onCommitteeChange()" class="autocomplete form-control" disabled required></select>
                </div>
                <div class="form-group col-md-12">
                    <label>Choose Vehicle Number</label>
                    <select id="selectVehicle" onchange="viewSeatInfo()" class="autocomplete form-control" disabled required></select>
                </div>

                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary btn-block">Show seat informations</button>
                </div>
            </div>
        </form>

        <form autocomplete="off" id="bookTicketForm">
            <div class="row">
                <div id="seatInfo" class="form-group col-md-12">
                    <div id="bookedSeatInfo">
                    </div>
                    <div id="unbookedSeatInfo">
                    </div>
                </div>
                <div class="col-md-12">
                    <label id="fare" class="text-danger"></label>
                </div>
                <div id="userInfo" class="col-md-12" hidden>
                    <hr>
                    <div class="form-group">
                        <label>Enter your desired seat: </label>
                        <input id="userSeat" type="text" class="form-control" required />
                        <div class="invalid-feedback" id="userSeatError" hidden>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Full Name: </label>
                        <input id="userName" type="text" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Mobile Number: </label>
                        <input id="phone" type="text" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Email: </label>
                        <input id="email" type="email" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <button type="submit" id="payment-button" class="btn btn-info btn-block">Book with khalti</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{

    <script src="https://khalti.com/static/khalti-checkout.js"></script>
    <script src="~/js/client/client.js" asp-append-version="true"></script>

}