﻿@model IEnumerable<OTBSCore.Models.Customer>
 
@{ 
	ViewData["Title"] = "Customer Details"; 
	ViewData["roleName"] = ViewData["role"];
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if(ViewData["role"].ToString()=="Admin")
{
	<h1 class="text-center">All Customer Details</h1>
}
else if(ViewData["role"].ToString()=="Committee")
{
	<h1 class="text-center">@ViewData["committeeName"]</h1>
}
else if(ViewData["role"].ToString()=="Counter")
{
	<h1 class="text-center">@ViewData["committeeName"]</h1>
	<h3 class="text-center">@ViewData["counterName"]</h3>
	<h5 class="text-center">@ViewData["counterAddress"]</h5>
}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Customer Details</h6>
  </div>
  <div class="card-body">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PhNumber)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.VehicleScheduleId)
				</th>

				<th>
					@Html.DisplayNameFor(model => model.seatNumber)
				</th>
				@if (ViewData["role"].ToString() != "Counter")
				{
					<th>
						@Html.DisplayNameFor(model => model.BookedBy)
					</th>
				}
				<th>
					@Html.DisplayNameFor(model => model.CancelStatus)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.AmountPaid)
				</th>

			</tr>
		</thead>
		<tbody>

			@foreach (var item in Model)
			{
				
			<tr>
				<td>
					<a asp-action="GetCustomerDetail" asp-route-id="@item.CustomerId">
						@Html.DisplayFor(modelItem => item.Name)
					</a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PhNumber)
				</td>
				<td>
					<a asp-action="GetScheduleDetail" asp-route-id="@item.VehicleScheduleId">
						@Html.DisplayFor(modelItem => item.VehicleScheduleId)
					</a>
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.seatNumber)
				</td>
				@if (ViewData["role"].ToString() != "Counter")
				{
					<td>
						@if (item.BookedBy == "self")
						{
							@Html.DisplayFor(modelItem => item.BookedBy)
						}
						else
						{
							<a asp-action="GetCounterDetail" asp-route-id="@item.BookedBy">
								@Html.DisplayFor(modelItem => item.BookedBy)
							</a>
						}

					</td>
				}
				<td>
					@Html.DisplayFor(modelItem => item.CancelStatus)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AmountPaid)
				</td>

			</tr>
				
			}
		</tbody>
	</table>
	</div>
</div>


