﻿@using Microsoft.AspNetCore.Identity
@using OTBSCore.DataAccess

@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager
@inject BookingContext _context


@model IEnumerable<OTBSCore.Models.Vehicle>

@{ 
	ViewData["Title"] = "Manage Vehicle"; 
	ViewData["roleName"] = ViewData["role"];
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@if (signInManager.IsSignedIn(User))
{
	var loggedInUser = await userManager.FindByNameAsync(userManager.GetUserName(User));
	ICollection<String> roleNames = await userManager.GetRolesAsync(loggedInUser);


	@if (roleNames.FirstOrDefault() == "Admin")
	{
		<p class="alert-danger float-right">@ViewData["vehicleStatus"]</p>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">All vehicle details</h6>
			</div>
			<div class="card-body">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>
								@Html.DisplayNameFor(model => model.VehicleId)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.VehicleNumber)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.vehicleType)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Committee)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.OwnerName)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Email)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Contact)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.ExtraCharge)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Status)
							</th>
							<th>
								Action
							</th>

						</tr>
					</thead>
					<tbody>

						@foreach (var item in Model)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.VehicleId)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.VehicleNumber)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.vehicleType)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Committee.Name)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.OwnerName)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Email)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Contact)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.ExtraCharge)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Status)
								</td>
								<td>
									
										<a asp-action="DeleteVehicle" asp-route-id="@item.VehicleId">Delete</a>
										@*<a onclick="deleteVehicle(@item.VehicleId)">Delete</a>*@
										@if (item.Status.ToString() == "suspended")
										{
											<a asp-action="unsuspendVehicle" asp-route-id="@item.VehicleId">Unsuspend</a>
											@*<a  href="#" onclick="unsuspendVehicle(@item.VehicleId)">Unsuspend</a>*@
										}
										else if (item.Status.ToString() == "unsuspended")
										{
											<a asp-action="SuspendVehicle" asp-route-id="@item.VehicleId">Suspend</a>
											@*<button  onclick="suspendVehicle(@item.VehicleId)">Suspend</button>*@
										}
										@*<a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
											<a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
											<a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
										*@
									
									
								</td>
							</tr>
						}

					</tbody>
				</table>
			</div>
		</div>

	}

	else if (roleNames.FirstOrDefault() == "Committee")
	{
		<a class="btn btn-primary mb-2" href="/vehicledata/registervehicle">Add vehicle</a>
		<p  class="alert-danger float-right">@ViewData["vehicleStatus"]</p>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Vehicle details of @ViewData["userName"]</h6>
			</div>
			<div class="card-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>
									@Html.DisplayNameFor(model => model.VehicleId)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.VehicleNumber)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.vehicleType)
								</th>

								<th>
									@Html.DisplayNameFor(model => model.OwnerName)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.Email)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.Contact)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.ExtraCharge)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.Status)
								</th>
								<th>
									Action
								</th>

							</tr>
						</thead>
						<tbody>

							@foreach (var item in Model)
							{
								if (item.CommitteeId.ToString() == ViewData["userId"].ToString())
								{
									<tr>
										<td>
											@Html.DisplayFor(modelItem => item.VehicleId)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.VehicleNumber)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.vehicleType)
										</td>


										<td>
											@Html.DisplayFor(modelItem => item.OwnerName)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Email)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Contact)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.ExtraCharge)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Status)
										</td>
										<td>
											<a asp-action="DeleteVehicle" asp-route-id="@item.VehicleId">Delete</a>
											@*<a onclick="deleteVehicle(@item.VehicleId)">Delete</a>*@
											@if (item.Status.ToString() == "suspended")
											{
												<a asp-action="unsuspendVehicle" asp-route-id="@item.VehicleId">Unsuspend</a>
												@*<a  href="#" onclick="unsuspendVehicle(@item.VehicleId)">Unsuspend</a>*@
											}
											else if (item.Status.ToString() == "unsuspended")
											{
												<a asp-action="SuspendVehicle" asp-route-id="@item.VehicleId">Suspend</a>
												@*<button  onclick="suspendVehicle(@item.VehicleId)">Suspend</button>*@
											}
											@*<a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
												<a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
												<a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
											*@
										</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
		</div>

	}


}

@section Scripts{
	<script src="~/js/vehicle/manage.js" asp-append-version="true"></script>
}