﻿@model OTBSCore.Models.Vehicle

@{
	ViewData["Title"] = "Register Vehicle";
	ViewData["roleName"] = ViewData["role"];
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Fill the information to register the vehicle</h6>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-12"> 
				<form asp-action="RegisterVehicle">
					@*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
					<div class="row">
					<div class="form-group col-md-6">
						<label asp-for="VehicleNumber" class="control-label"></label>
						<input asp-for="VehicleNumber" class="form-control" />
						<span asp-validation-for="VehicleNumber" class="text-danger"></span>
					</div>

					<div class="form-group col-md-6">
						<label asp-for="vehicleType" class="control-label"></label>
						<select class="form-control" asp-for="vehicleType" asp-items="Html.GetEnumSelectList<Vehicle.VehicleType>()"></select>
						@*<select class="custom-select col-md-4">
							<option value="Bus">Bus</option>
							<option value="Hiace">Hiace</option>
							<option value="Winger">Winger</option>
						</select> <br />*@
					</div>

					<div hidden="hidden">
						<input type="hidden" asp-for="CommitteeId" value=@ViewData["committeeId"]/>
					</div>
					@*<div>
						<input type="hidden" asp-for="busSeatplan" value=@ViewData["seatPlan"]/>
					</div>*@

					<div class="form-group col-md-6">
						<label asp-for="OwnerName" class="control-label"></label>
						<input asp-for="OwnerName"  class="form-control" />
					</div>

					<div class="form-group col-md-6">
						<label asp-for="Address" class="control-label"></label>
						<input asp-for="Address"  class="form-control" />
					</div>
					<div class="form-group col-md-6">
						<label asp-for="Contact" class="control-label"></label>
						<input asp-for="Contact" class="form-control" />
					</div>
					<div class="form-group col-md-6">
						<label asp-for="Email" class="control-label"></label>
						<input asp-for="Email"  class="form-control" />
					</div>
					<div class="form-group col-md-6">
						<label asp-for="ExtraCharge" class="control-label"></label>
						<input asp-for="ExtraCharge"  class="form-control" />
						
					</div>
					<div class="form-group col-md-12">
						<button type="submit" value="RegisterVehicle" class="btn btn-primary float-right">Register Vehicle</button>
					</div>
					</div>
				</form>
				<div class="text-danger">
					<label>@ViewData["message"]</label>
				</div>
			</div>
		</div>
	</div>
</div>