﻿@model OTBSCore.Models.VehicleSchedule

@{ 
	ViewData["Title"] = "Admin Dashboard";
	ViewData["roleName"] = ViewData["role"];
  	Layout = "~/Views/Shared/_AdminLayout.cshtml";
} 

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Add Schedule</h6>
  </div>
  <div class="card-body">
      
	  @if (ViewData["verificationError"].ToString() == "1")
	  {
		  <h2>This committee is not verified to add any schedule. Contact Administrator to verify committee.</h2>
	  }
	  else
	  {


	<form asp-action="AddSchedule">
			<div class="form-row">
				<input asp-for="CommitteeId" type="hidden" value=@ViewData["committeeId"] />
				<div class="form-group col-md-6">
					<label asp-for="Date" class="control-label">Date</label>
					<input asp-for="Date" class="form-control" />
				</div>
				<div class="form-group col-md-6">
					<label asp-for="Time" class="control-label">Time</label>
					<input asp-for="Time" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="form-group">
					<label asp-for="StartingPointDestinationId" class="control-label">From</label>
					<select asp-for="StartingPointDestinationId" class="form-control" asp-items="ViewBag.DestinationId"></select>
				</div>
				<div class="form-group">
					<label asp-for="EndPointDestinationId" class="control-label">To</label>
					<select asp-for="EndPointDestinationId" class="form-control" asp-items="ViewBag.DestinationId"></select>
				</div>
				<div class="text-danger float-right">
					<p>@ViewData["errorMsg"]</p>
				</div>
				<div class="form-group">
					<label asp-for="VehicleId" class="control-label">Vehicle Number</label>
					<select asp-for="VehicleId" class="form-control" asp-items="ViewBag.VehicleId"></select>
				</div>
				<div class="form-group">
					<label asp-for="DeparturePlace" class="control-label">Departure Place</label>
					<input asp-for="DeparturePlace" class="form-control"  />
				</div>
				<div class="form-group">
					<input type="submit" value="Add Schedule" class="btn btn-primary" />
				</div>

			</div>
		</form>
		<p class="text-danger">@ViewData["routeAndFareIdError"]</p>
		<p class="text-danger">@ViewData["success"]</p>
		<p class="text-danger">@ViewData["error"]</p>
	  }
  </div>

</div>

