﻿@model IEnumerable<OTBSCore.Models.VehicleSchedule>

@using Microsoft.AspNetCore.Identity
@using OTBSCore.DataAccess

@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager
@inject BookingContext _context


@if (signInManager.IsSignedIn(User))
{
    var loggedInUser = await userManager.FindByNameAsync(userManager.GetUserName(User));
    ICollection<String> roleNames = await userManager.GetRolesAsync(loggedInUser);


    @if (roleNames.FirstOrDefault() == "Admin" || roleNames.FirstOrDefault() == "Committee")
    {
        @if (roleNames.FirstOrDefault() == "Admin")
        {

            ViewData["Title"] = "Schedule Details";
            ViewData["roleName"] = "Admin";
            Layout = "~/Views/Shared/_AdminLayout.cshtml";

        }
        else if (roleNames.FirstOrDefault() == "Committee")
        {
            ViewData["Title"] = "Schedule Details";
            ViewData["roleName"] = "Committee";
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
            <a class="btn btn-primary mb-2" href="/schedule/addschedule">Add schedule</a>
        }

        <p class="alert-danger float-right">@ViewData["scheduleResult"]</p>
        <p class="alert-danger float-right">@ViewData["success"]</p>
        <p class="text-danger">@ViewData["routeAndFareIdError"]</p>
        <p class="text-danger">@ViewData["error"]</p>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Scheduling details</h6>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            @if (roleNames.FirstOrDefault() == "Admin")
                            {
                                <th>
                                    @Html.DisplayNameFor(model => model.Committee)
                                </th>
                            }
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Time)
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Committee)*@
                                From
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Vehicle)*@
                                To
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle)
                            </th>

                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (roleNames.FirstOrDefault() == "Admin")
                            {

                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Committee.Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Time)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartingPointDestination.DestinationName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndPointDestination.DestinationName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vehicle.VehicleNumber)
                                    </td>
                                    <td>
                                        <a asp-action="RemoveSchedule" asp-route-id="@item.VehicleScheduleId">Remove</a>
                                    </td>
                                    @*<td>

                                            <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                                        </td>*@
                                </tr>
                            }
                            else if (roleNames.FirstOrDefault() == "Committee")
                            {
                                if (item.CommitteeId.ToString() == ViewData["committeeId"].ToString())
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Time)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartingPointDestination.DestinationName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EndPointDestination.DestinationName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Vehicle.VehicleNumber)
                                        </td>
                                        <td>
                                            <a asp-action="RemoveSchedule" asp-route-id="@item.VehicleScheduleId">Remove</a>
                                        </td>
                                        @*<td>
                                                <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                                            </td>*@
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }


}
