﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Forgot Password Confirmation";
}
<h1>@ViewData["Title"]</h1>
<p>Check your email to reset password</p>