﻿@model OTBSCore.AdminAccounts.ForgotPassword
@{
	ViewData["title"] = "Admin-Forgot Password";
	Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml"; 
}

<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-10">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Reset Admin Password</h1>
                </div>
                <form class="user" asp-controller="Admin" asp-action="ForgotPassword">
                  	<div class="form-group">
						<input asp-for="Username" class="form-control form-control-user" placeholder="Username" />
						<span asp-validation-for="Username" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input asp-for="Email" class="form-control form-control-user" placeholder="Email" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary btn-user btn-block" value="Send an email for confirmation" />
					</div>
                </form>
				<hr>
                  <div class="text-center">
                    <a class="small" href="/admin">Login admin!</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>