﻿@model OTBSCore.AdminAccounts.AdminLoginModel

@{ ViewData["title"] = "Admin Login";
  Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml"; 
}


<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-10">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Admin Login</h1>
                </div>
                <form class="user" asp-action="Login">
                  <div class="form-group">
                    <input
                      asp-for="Username"
                      class="form-control form-control-user"
                      placeholder="Username"
                    />
                    <span
                      asp-validation-for="Username"
                      class="text-danger"
                    ></span>
                  </div>

                  <div class="form-group">
                    <input
                      asp-for="Password"
                      class="form-control form-control-user"
                      placeholder="Password"
                    />
                    <span
                      asp-validation-for="Password"
                      class="text-danger"
                    ></span>
                  </div>

                  <input
                    type="submit"
                    class="btn btn-primary btn-user btn-block"
                    value="Login"
                  />
                  <div class="form-group p-2">
                    <div class="text-danger">
                      @ViewData["IncorrectPassword"]
                    </div>
                  </div>
                </form>
                <hr>
                  <div class="text-center">
                    <a class="small" href="/admin/forgotpassword">Forgot Password?</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
