﻿@model OTBSCore.AdminAccounts.ResetPassword
@{
	ViewData["title"] = "Reset Admin Password";
	Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}

<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-10">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">
                    Reset Password
                  </h1>
                </div>
                <form class="user" asp-controller="Admin" asp-action="ResetPassword">

			<div class="form-group">
				<label asp-for="Username" class="control-label"></label>
				<input asp-for="Username" class="form-control" placeholder="Username" />
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" placeholder="Email" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="OldPassword" class="control-label"></label>
				<input asp-for="OldPassword" class="form-control" placeholder="Old Password" />
				<span asp-validation-for="OldPassword" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Password" class="control-label"></label>
				<input asp-for="Password" class="form-control" placeholder="Password" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="ConfirmPassword" class="control-label"></label>
				<input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>



			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Reset" />
			</div>

		</form>
			</div>
		</div>
	</div>
</div>
