﻿@model OTBSCore.Models.Committee
<div>

	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CommitteeUsername)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CommitteeUsername)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PhNumber)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PhNumber)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.District)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.District)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Municipality)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Municipality)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.LocalAddress)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.LocalAddress)
		</dd>

	</dl>
</div>
