﻿@model IEnumerable<OTBSCore.Models.Committee>

@{ 
  ViewData["Title"] = "View Committee List"; 
  ViewData["roleName"] = "Admin";
  Layout = "~/Views/Shared/_AdminLayout.cshtml"; 
}

<p class="text-danger float-right">@ViewData["clearMsg"]</p>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Committee List</h6>
  </div>
  <div class="card-body">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>

				<th>
					@Html.DisplayNameFor(model => model.status)
				</th>
				<th>
					Action
				</th>
			</tr>
		</thead>
		<tbody>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						<a asp-action="ViewCommitteeDetail" asp-route-id="@item.CommitteeId">@item.Name</a>
					</td>

					<td>
						
						@Html.DisplayFor(modelItem => item.status)
					</td>

					<td>
						@if(item.status==Status.unverified)
						{
							<a asp-action="VerifyCommittee" asp-route-id="@item.CommitteeId">verify</a>
						}
						else if (item.status == Status.verified)
						{
							<a asp-action="SuspendCommittee" asp-route-id="@item.CommitteeId">suspend</a>
						}
						else if(item.status==Status.suspended)
						{
							<a asp-action="VerifyCommittee" asp-route-id="@item.CommitteeId">verify</a>
						}
					</td>
					
				</tr>
			}

		</tbody>
	</table>
	</div>
</div>
